.table-header-wrapper {
  display: flex;
  height: 4rem;
  width: 100%;
}

.header-title-wrapper {
  display: flex;
  flex: 3;
  align-items: center;
  margin-left: 2rem;
}
.header-title {
  font-size: 25px;
  font-weight: 300;
  color: #000;
}
.button-wrapper {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}
