.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
}
.modal-wrapper {
  height: 600px;
  width: 600px;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
}
.modal-header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}
.clear-icon {
  color: #999898;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.modal-content {
  display: flex;
  height: 500px;
  width: 500px;
}
