body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="button"] {
  outline: none;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}

button {
  box-shadow: none;
  border: none;
  background: #9ec229;
  min-width: 85px;
  border-radius: 5px;
  height: 40px;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
}
