.customer-view-wrapper {
  outline: none;
  display: flex;
  width: 70%;
  height: 80%;
  border: 1px solid #9ec229;
  padding: 1rem;
  border-radius: 5px;
  background: #f6f9fa 0% 0% no-repeat padding-box;
  flex-direction: column;
}
